
.content {
	color: white;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 36pt;
	font-weight: bold;
	width: 640px;
	height: 360px; 
	background-color: black;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index:2;
	overflow:hidden;
}

.glasslist{
	color: white;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	position: absolute;
	height:50%;
	width:50px;
	top: 0px;
	left: 0px;
	z-index:2;
	overflow:scroll;
}



.glasses {
	color: white;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	background-color: grey;
	position: absolute;
	height:150px;
	width:140px;
	top: 0px;
	left: 0px;
	z-index:2;
	overflow:scroll;
}



.chat {
	color: black;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	background-color: white;
	position: absolute;
	top: 0%;
	left: 150px;
	z-index:2;
	overflow:scroll;
}

.glassview {
	color: white;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 36pt;
	font-weight: bold;
	background-color: black;
	position: absolute;
	width: 640px;
	height: 360px; 
	top: -85px;
	left: 300px;
	z-index:2;
	overflow:scroll;
	-webkit-transform: scale(.5,.5); /* Safari and Chrome */
}


.control{
	display:none;
	color: grey;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	background-color: white;
	position: absolute;
	top: 0%;
	left: 50%;
	z-index:2;
	overflow:scroll;
}