/*

Color scheme (based on gedit / eclipse default's oblivion scheme): 

background:					2E3436	background
box border & selection bg: 	888A85	selectionBackground
highlightPlayerSelection:	EDD400	string
highlightPhraseBackground:	719ECE	N/A
							EEEEEC	selectionForeground
*/

body
{
	font-size: 14pt;
	color: white;
	background-color: #2e3436;
}

.boxClass
{
	border:3px solid #888a85;
	border-radius: 5px;
	
	color:white;
	background-color: #2e3436;
}

#splitfromHelpDiv
{
	width:1100px;
	height:100%;
	float :left;
}

#containerDiv
{
	width:100%;
	height:87%;
	position:relative;
}

#topleftDiv
{
	width:74%;
	height:100%;
	float:left;
	position:relative;
}

#scriptBoxDiv
{	
	width:99%;
	height:65%;
	position:relative;
	overflow-y:scroll;
}

#inputBox
{	
 	width:100%; 
 	height:15%;
	position:relative;
	
	font-size:10pt;	
}

#previewDiv
{	
	width:250px; 
	height:17%;
	float:left;
	position:relative;
	overflow-y:scroll;	
}

#liveDiv
{	
	width:250px; 
	height:17%; 
	float:left;
	position:relative;
}

#topRightDiv
{
	width:25%; 
	height:100%; 
	position:relative;
	float:left;
}

#recipientDiv
{	
	width:47.5%; 
	height:99%;
	float:left;
}

#lockDiv
{	
 	width:47.5%; 
 	height:99%; 
 	float:right;
	position:relative;
}

#historyDiv
{
	width:99%; 
 	height:12.7%;
	position:relative;
}

#helpDiv
{	
    overflow: hidden;
    height: 98%;
	overflow-y:scroll;	
}

#historyBox
{	
	display:table-cell; 
	width:100%;
	height:100%;
	position:relative;
}

#historyBox:focus
{
    outline: none !important;
    border:2px solid red;
    box-shadow: 0 0 10px #719ECE;
}

a, span.link {
  color: #EDD400;
}

a:visited, span.visited {
   color: #BED6FF;
}

a:active, span.active {
   color: #EDD400;
}

.scriptTextarea
{
	width:100%;
	font-size:10pt;
}

#inputBox:focus
{
	outline: none !important;
    border:2px solid red;
    box-shadow: 0 0 10px #719ECE;
    
    background-color: #888a85;
}

.scriptTextarea:focus
{
    outline: none !important;
    border:2px solid red;
    box-shadow: 0 0 10px #719ECE;
    
    background-color: #888a85;
}